.board-container {
  width: 80%;
  margin: 0 auto;
}


.row-container {

}


.square {
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  border: 1px solid black;
  margin: 0%;
  padding: 0;

  box-sizing: border-box;
}

.light-square {
  background-color: white;
}

.dark-square {
  background-color: darkgrey;
}

.table{
    display:table;
    height:100%;
    width:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
}

.square-content {

}

.has-queen {
  content:url('Chess_queen_icon.png');
}
